extends ./layout

block content

    .container
        each func in data
            .function
                h2
                    span.name= func.name
                    if func.return
                        span.return= '(' + func.return.type +'): ' + func.return.desc
                .content
                    p= func.desc
                    if func.params
                        table.table
                            thead
                                tr
                                    th.td-name Name
                                    th.td-type Type
                                    th Desc
                            tbody
                                each param in func.params
                                    tr
                                        td= param.name
                                        td= param.type
                                        td= param.desc
                    if func.detail
                        .md.detail!= func.detail
